.socials-title {
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
}

.skills-logo-social {
    transition: all 0.3s ease;
    cursor: pointer;
    pointer-events: visible;

}

.skills-logo-social:hover {
    transform: scale(1.1);
}
