.About{
    min-height: 90vh;
    width: 100vw;
    position: relative;
    top: 10vh;
    overflow: scroll;
}

.skill-logo{
    scale: 1;
    transition: scale 0.5s;
    margin: 5px;
}

.skill-logo:hover{
    scale: 1.1;
}
.grid-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    max-width: 400px;
}

.outlined-text{
    text-shadow:
        -1px -1px 0 #d7d5c4, 
        1px -1px 0 #d7d5c4,  
        -1px 1px 0 #d7d5c4,   
        1px 1px 0 #d7d5c4;  
}

.resume-iframe {
    height: min(90vh, 1080px);
    width: min(80vw, 750px);
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) and (min-width: 1001px) {
    .resume-iframe {
        height: min(75vh, 900px);
        width: min(75vw, 700px);
    }
}

@media screen and (max-width: 1000px) and (min-width: 751px) {
    .resume-iframe {
        height: min(65vh, 800px);
        width: min(70vw, 650px);
    }
}

@media screen and (max-width: 750px) and (min-height: 501px) {
    .resume-iframe {
        height: min(55vh, 600px);
        width: min(90vw, 600px);
    }
}

@media screen and (max-width: 500px) and (max-height: 500px) {
    .resume-iframe {
        height: min(75vh, 500px);
        width: min(95vw, 450px);
    }
}

@media screen and (max-width: 500px) and (min-height: 501px) {
    .resume-iframe {
        height: min(85vh, 550px);
        width: min(95vw, 450px);
    }
}
