.About{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    top: 10vh;
    overflow: scroll;
    margin-top: 0vh;
}
.outlined-text{
    text-shadow:
        -1px -1px 0 #d7d5c4, 
        1px -1px 0 #d7d5c4,  
        -1px 1px 0 #d7d5c4,   
        1px 1px 0 #d7d5c4;  
}