
.header{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header-name{
    color: #d7d5c4;
    font-size: 10rem;
}

.header-jobtitle{
    font-size: 5rem;
    text-shadow:
        -1px -1px 0 #d7d5c4, 
        1px -1px 0 #d7d5c4,  
        -1px 1px 0 #d7d5c4,   
        1px 1px 0 #d7d5c4;  
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: min(5vh, 2px);
    z-index: 1;
}

.header-menu{
    position: fixed;
    top: 0vh;
    width: 98vw;
    display: none;
    flex-direction: row;
    justify-content: right;
    margin-right: 2vw;
}
