
.home{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.home-name{
    font-size: 10rem;
}

.home-jobtitle{
    font-size: 5rem;
    text-shadow:
        -1px -1px 0 #d7d5c4, 
        1px -1px 0 #d7d5c4,  
        -1px 1px 0 #d7d5c4,   
        1px 1px 0 #d7d5c4;  
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: min(5vh, 2px);
    z-index: 1;
}

